extends layout

block content
  section.container
    h1 In mother Russia, roll chooses you.
    a.roll-comrade Roll Comrade
  .slots-wrapper
      .slots
        ul.slot.slot-1
          li.slot__item
            p 0
          li.slot__item
            p 1
          li.slot__item
            p 2
          li.slot__item
            p 3
          li.slot__item
            p 4
          li.slot__item
            p 5
          li.slot__item
            p 6
          li.slot__item
            p 7
          li.slot__item
            p 8
          li.slot__item
            p 9
          li.slot__item
            p 10
          li.slot__item
            p 11
        ul.slot.slot-2
          li.slot__item
            p 0
          li.slot__item
            p 1
          li.slot__item
            p 2
          li.slot__item
            p 3
          li.slot__item
            p 4
          li.slot__item
            p 5

  

  


