extends layout

block content
  .roll-wrapper
    section.container
      figure.logo
        include ../public/images/logo.svg

    .slots-wrapper
        .slots
          ul.slot.slot-1
          ul.slot.slot-2
          ul.slot.slot-3
          ul.slot.slot-4
          
      div.slot-controls
        a.roll-comrade rOll Comrade
        a.order-comrade order Comrade
  
  .roll-result-wrapper
    .h2.roll-result
    a.order-roll Order Roll
    a.roll-again ROll Again

  footer.notification
    p Someone rolled something!


