extends layout

block content
  section.container
    h1 In mother Russia, roll chooses you.
    a.roll-comrade Roll Comrade

  .slots-wrapper
      .slots
        ul.slot.slot-1
          li.slot__item
            p Egg
          li.slot__item
            p Sausage
          li.slot__item
            p Onion
          li.slot__item
            p Black Pudding
          li.slot__item
            p Bacon
          li.slot__item
            p Veggie Sausage
        ul.slot.slot-2
          li.slot__item
            p Sausage
          li.slot__item
            p Onion
          li.slot__item
            p Veggie Sausage
          li.slot__item
            p Egg
          li.slot__item
            p Onion
          li.slot__item
            p Black Pudding
        ul.slot.slot-3
          li.slot__item
            p Bacon
          li.slot__item
            p Onion
          li.slot__item
            p Egg
          li.slot__item
            p Veggie Sausage
          li.slot__item
            p Black Pudding
          li.slot__item
            p Sausage

  

  


