doctype html
html
  head
    title Sequence Russian Rollette
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='interface', content='desktop')
    link(rel='shortcut icon', type='image/ico', href='favicon.ico')
    link(rel='stylesheet',  href='/stylesheets/production/app.css')
  body
    block content

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/lib/imagesloaded.pkgd.min.js')
    script(src='/scripts/Slots.js')
    script(src='/scripts/Client.js')
    script(src='/scripts/app.js')
      
      